@model WorldsBestWebDesigns.com.Models.ContactRequest

<div class="col-sm-6 col-md-8">
    <p>Thank you, @Model.Name, for your contact request.</p>
    <p>The following information has been submitted:</p>
    <ul>
        <li>Name: @Model.Name</li>
        <li>Email: @Model.Email</li>
        <li>Phone: @Model.Phone</li>
        <li>Subject: @Model.Subject</li>
        <li>Department: @Model.Department</li>
        <li>Message: @Model.Message</li>
    </ul>

    <p>An email has been sent to Neal and a copy of this request will be sent to the email specified.</p>
    <p>You will receive a response to this request shortly.</p>
    <br />
</div>