@model WorldsBestWebDesigns.com.Models.WorldsBestResponse
<!DOCTYPE html>
<html lang="en">
<!-- Copyright @DateTime.Now.ToLongDateString() @DateTime.Now.ToLongTimeString() WorldsBestWebDesigns.com All rights reserved. -->
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-128911041-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-128911041-1');
    </script>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title itemprop="title">@Model.SeoData.Title</title>
    <meta name="description" itemprop="description" content="@Model.SeoData.Description" />
    <meta name="keywords" content="@Model.SeoData.Keywords" />
    <meta http-equiv="content-language" content="en">
    <meta property="og:site_name" content="@Model.OgData.SiteName" />
    <meta property="og:type" content="@Model.OgData.Type" />
    <meta property="og:url" content="@Model.OgData.Url" />
    <meta property="og:title" content="@Model.OgData.Title" />
    <meta property="og:description" content="@Model.OgData.Description" />
    <meta property="og:image" content="@Model.OgData.Image" />
    <meta name="classification" content="Web Development & Mobile  App Development Companies " />
    <meta name="DC.title" content="Web Development & Mobile  App Development Companies " />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <META NAME="ROBOTS" CONTENT="INDEX, FOLLOW">
    <meta name="YahooSeeker" content="INDEX, FOLLOW" />
    <meta name="msnbot" content="INDEX, FOLLOW" />
    <meta name="googlebot" content="INDEX, FOLLOW" />
    <meta name="company" content="WorldsBestWebDesigns.com" />
    <meta name="author" content="Neal Thomas" />
    <meta name="owner" content="Neal Cameron Thomas" />
    <meta name="rating" content="General" />
    <meta name="revisit-after" content="7 Days" />
    <meta name="country" content="US" />
    <meta name="distribution" content="US" />
    <meta name="coverage" content="US" />
    <meta http-equiv="Content-Language" content="en-us" />
    <meta name="zipcode" content="33767" />
    <link rel="icon" type="image/png" href="/assets/img/favicon.png">
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/assets/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/assets/css/flexslider.css">
    <link href="/assets/css/style-switcher.css" rel="stylesheet">
    <link href="/assets/css/main.css" id="theme" rel="stylesheet">
    <link href="/assets/css/animate.min.css" rel="stylesheet">
    <link href="/assets/css/slick.css" rel="stylesheet">
    <link href="/assets/css/bootstrap-select.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
@RenderBody()
</html>